#XfceNotifyWindow {
    background-color: #512000;
    border-radius: 0px;
    border: 1px solid shade(#652800, 0.8);
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#512000, 0.98);
    border-color: shade(#652800, 0.5);
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #fff5ee;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-radius: 0px;
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #2a1100;
    color: #fff5ee;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #652800;
    color: #ffffff;
}

#XfceNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #ff7f2a;
}

#XfceNotifyWindow progressbar trough {
    background-image: none;
    border: 0px;
    border-radius: 0px;
}
