#XfceNotifyWindow {
    background-color: #411941;
    border-radius: 0px;
    border: 1px solid shade(#4f1e4f, 0.8);
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#411941, 0.98);
    border-color: shade(#4f1e4f, 0.5);
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #fdf9fd;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-radius: 0px;
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #240e24;
    color: #fdf9fd;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #4f1e4f;
    color: #ffffff;
}

#XfceNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #963996;
}

#XfceNotifyWindow progressbar trough {
    background-image: none;
    border: 0px;
    border-radius: 0px;
}
