#XfceNotifyWindow {
    background-color: #134413;
    border-radius: 0px;
    border: 1px solid shade(#175317, 0.8);
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#134413, 0.98);
    border-color: shade(#175317, 0.5);
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #f6fbf6;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-radius: 0px;
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #0a250a;
    color: #f6fbf6;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #175317;
    color: #ffffff;
}

#XfceNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #2ca02c;
}

#XfceNotifyWindow progressbar trough {
    background-image: none;
    border: 0px;
    border-radius: 0px;
}
