#XfceNotifyWindow {
    background-color: #441313;
    border-radius: 0px;
    border: 1px solid shade(#531717, 0.8);
    padding: 20px;
}

#XfceNotifyWindow:hover {
    background-color: shade(#441313, 0.98);
    border-color: shade(#531717, 0.5);
}

#XfceNotifyWindow label,
#XfceNotifyWindow image {
    color: #fcf6f6;
}

#XfceNotifyWindow label#summary {
    font-weight: Bold;
}

#XfceNotifyWindow button {
    border-radius: 0px;
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #250a0a;
    color: #fcf6f6;
}

#XfceNotifyWindow button:hover {
    border-style: none;
    box-shadow: none;
    background-image: none;
    background-color: #531717;
    color: #ffffff;
}

#XfceNotifyWindow progressbar {
    min-height: 6px;
    border-radius: 0px;
}

#XfceNotifyWindow progressbar progress {
    background-image: none;
    background-color: #a02c2c;
}

#XfceNotifyWindow progressbar trough {
    background-image: none;
    border: 0px;
    border-radius: 0px;
}
