[Desktop Entry]
Name=E5150
Comment=An Evil Plasma Theme

X-KDE-PluginInfo-Author=ju1464
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3+
X-KDE-PluginInfo-Name=E5150
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://www.pling.com/u/ju1464/
X-Plasma-API=5.0
